
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ADMIN Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<br>
<br>
<div class="container">
    <h2>Job PAGE</h2>
    <h2>
        Welcome <span th:text="${#request.userPrincipal.name}"></span>
    </h2>

    <div th:fragment="navbar" class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Job Application</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/registration}" th:if="${#request.userPrincipal == null}"><span
                            class="glyphicon glyphicon-user"></span> Register </a></li>
                    <li><a href="/user-page" th:if="${#request.userPrincipal !=null}"><span
                            class="glyphicon glyphicon-user"></span> User Edit</a></li>

                    <li><a th:href="@{/logout}" th:if="${#request.userPrincipal != null}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-2 mb-5">
                <a href="/addjob" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4 mb-5">
                <div th:if="${#lists.isEmpty(job)}"><h2>No  jobs posted yet!</h2></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mb-5">
                <h2>Jobs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Job Name  </th>
                        <th>Description </th>
                        <th>Posted by</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="job: ${job}">
                        <td th:text="${job.jobName}"></td>
                        <td th:text="${job.description}"></td>
<!--                        <td th:text="${job.roleName}"></td>-->
                        <td></td>
                        <td><a th:href="@{/edit/{jobId}(jobId=${job.jobId})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{jobId}(jobId=${job.jobId})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div th:fragment="footer" class="container">
        <hr/>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-center">&copy; 2021
                    <span th:if="${#request.userPrincipal != null}">
                | Logged user: <span th:text="${#request.userPrincipal.name}"></span> |

                <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>