<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div th:if="${not #lists.isEmpty(applicationList)} ">
                <div class="title">My Applications </div>
                <th:block th:each="order : ${applicationList}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="title">Application<span th:text="${order.applications.applicationId}"></span></div>
                            <table class="table">
                                <tr>
                                    <th>Job name</th>
                                    <th>Job description</th>
                                    <th>amount</th>
                                </tr>
                                <tr th:each="applicationList : ${order.applicationList}">
                                    <td th:text="${applicationList.job.jobName}"></td>
                                    <td th:text="${applicationList.job.description}"></td>
                                    <td th:text="${applicationList.amountOfApplication}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>