<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<br>
<br>
<div class="container">
    <h2>USER PAGE</h2>
    <h2>
        Welcome    <span th:text="${#request.userPrincipal.name}"></span>
    </h2>

    <div th:fragment="navbar" class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/user-home-page">Job Application</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/registration}" th:if="${#request.userPrincipal == null}"><span
                            class="glyphicon glyphicon-user"></span> Register </a></li>
                    <li><a th:href="@{/edituser}" th:if="${#request.userPrincipal !=null}"><span
                            class="glyphicon glyphicon-user"></span> Profile Edit</a></li>
                    <li><a th:href="@{/applications}" th:if="${#request.userPrincipal != null}"><span
                            class="glyphicon glyphicon-th-list"></span> My Applications </a></li>
                    <li><a th:href="@{/cart}"><span class="glyphicon glyphicon-shopping-cartApplication"></span> Basket of Applications</a></li>
                    <li><a th:href="@{/logout}" th:if="${#request.userPrincipal != null}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-4 mb-5">
            <h2>Jobs</h2>
        </div>
    </div>

    <form action="/search"  method="get"  class="tm-search-form tm-section-pad-2">
        <div class="form-row tm-search-form-row">
            <div class="form-group ">
                <label for="inputDescription">Enter Description</label>
                <input name="description" type="text" class="form-control" id="inputDescription"  placeholder="Type here...">
            </div>

        </div>
        <div class="form-group ">
            <label for="btnSubmit">&nbsp;</label>
            <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit" >Search</button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Name </th>
                    <th>Description</th>
                    <th>Apply</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="job: ${job}">
                    <td th:text="${job.jobId}"></td>
                    <td th:text="${job.jobName}"></td>
                    <td th:text="${job.description}"></td>
                    <td><a th:href="@{'/cart/add/' + ${job.jobId}} ">Apply</a></td>


                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div th:fragment="footer" class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-center">&copy; 2021
                    <span th:if="${#request.userPrincipal != null}">
                | Logged user: <span th:text="${#request.userPrincipal.name}"></span> |

                <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
