<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<br>
<br>
<div class="container">
    <h2>USER PAGE</h2>
    <h2>
        Welcome <span th:text="${#request.userPrincipal.name}"></span>
    </h2>
    <div class="container my-5">

        <div class="row">
            <div class="col-sm-4 mb-5">
                <div th:if="${#lists.isEmpty(user)}"><h2>No users yet!</h2></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mb-5">
                <h2>Users</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user: ${user}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td><a th:href="@{/edituser/{userId}(userId=${user.userId})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/deleteuser/{userId}(userId=${user.userId})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <p class="my-5" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-primary">Logout</a></p>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>